@model Epadoca.Models.Padaria

<h2>Cadastro de Padaria</h2>

@using (Html.BeginForm("Create", "Padaria", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome)
        @Html.ValidationMessageFor(model => model.Nome)
    </div>

    <div>
        @Html.LabelFor(model => model.InformacoesCadastrais)
        @Html.TextBoxFor(model => model.InformacoesCadastrais)
    </div>

    <div>
        @Html.LabelFor(model => model.Endereco)
        @Html.TextBoxFor(model => model.Endereco)
    </div>

    <input type="submit" value="Salvar" />
}
